<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vadeworks.nannyroo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookNanny.OrderDetails3"></activity>
        <activity android:name=".BookNanny.OrderConfirmation" />
        <activity android:name=".BookNanny.OrderDetails2" />
        <activity android:name=".BookNanny.OrderDetails" />
        <activity android:name=".BookNanny.Tutors" />
        <activity android:name=".BookNanny.Driving" />
        <activity android:name=".BookNanny.ChildCare" />
        <activity android:name=".BookNanny.Services" />
        <activity android:name=".BookNanny.BookNanny" />
        <activity android:name=".OnBoarding.OnBoarding" />
        <activity android:name=".Landing.Landing" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".SpalashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>